**/*
!.enb/make.js
!.githooks/**/*
!common.blocks/**/*
!desktop.bundles/background/background.bemdecl.js
!desktop.bundles/content/content.bemdecl.js
!desktop.bundles/options/options.bemjson.js
!desktop.bundles/plugin/*.json
!desktop.bundles/plugin/*.png
!.borschik
!.bowerrc
!.csscomb.json
!.gitignore
!.jscs.json
!.jshint-groups.js
!bower.json
!package.json
!pack-extension.sh
!README.md
